<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runner.task.mapper.NotificationMapper">
    <resultMap id="BaseResultMap" type="com.runner.pojo.Notification">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="created_time" property="createdTime"/>
        <result column="read_time" property="readTime"/>
    </resultMap>
</mapper>